<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
<name replace-wildcards="yes">%h Cockpit</name>
<service>
<type>_https._tcp</type>
<port>9090</port>
</service>
</service-group>
