@import url(//fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

td.passwd {
  color: transparent;
}

#discourse-comments {
  height: 450px;
  overflow: auto;
}

/* Bootstrap overrides */ 
.navbar-fixed-top, .navbar-brand {
    min-height: 82px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 82px;
}

body {
    padding-bottom: 3rem;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 1px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
       line-height: 20px;
       padding-top: 10px;
       padding-bottom: 10px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: black;
    }
}

/* Colors:
   yellow #E0D721
   lightGreen #73B51F
   darkGreen #5c9118
*/
a {
   color: #5c9118;
}
a:hover {
   color: #73B51F;
}

.navbar-default {
    background: linear-gradient(#73B51F, #5c9118);
    border-color: #5c9118;
}

/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: black;
    font-size: 150%;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #E0D721;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #5c9118;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #E0D721;
    background-color: #5c9118;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: black;
    border-bottom-color: #777;
}

.dropdown-menu {
  color: #000000;
  background-color: #eaf6e7;
}  

.dropdown-menu > li > a {
  color: black;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #E0D721;
  text-decoration: none;
  background-color: transparent;
}

/* Allstar specific */
.allstar-head {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
}

.allstar-columns {
  max-width: 800px;
  margin: 0 auto;
  column-width: 14em;
}

.allstar-footer {
    background: black;
    color: white;
}

.allstar-gradient-bg {
    background: linear-gradient(#73B51F, #5c9118);
}

.allstar-reverse-gradient-bg {
    background: linear-gradient(#5c9118, #73B51F);
}

.panel-default > .allstar-panel-head {
   font-size: large;
   color: black;
   background: linear-gradient(#5c9118, #73B51F);
   border-color: #ddd;
}

.allstar-li {
    display: block;
}

.allstar-li li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}

.allstar-block-c80 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.allstar-center {
	margin-top: 10px;
	text-align: center;
}

.allstar-modal-header {
   background: linear-gradient(#73B51F, #5c9118);
   border-color: #5c9118;
   text-align: center;
}

/****** LOGIN MODAL ******/

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

/*
.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}
*/

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

/*
.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
 border-radius: 3px;
  -webkit-user-select: none;
  user-select: none;
}
*/

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  width:100%;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: opacity ease 0.5s;
} 

.loginmodal-container a:hover {
  text-decoration: underline;
   color: #73B51F;
}

.modal-footer {
  font-size: 1.2em;
 }

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  margin-top: 10px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.registered-Yes {
    background-color:#73B51F;
    font-weight: bold;
}

